<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">OTP</h2>
          </div>
          <div class="card-body">
            <form (ngSubmit)="confirmSignIn()"  class="form" >
              <div class="form-group">
                <label for="OTP">OTP:</label>
                <input type="text" id="OTP" name="OTP"class="form-control" [(ngModel)]="user.code" required />
              </div>
  
              
              <button type="submit" class="btn btn-primary btn-block">Confirm</button>
            </form>
          </div>
        </div>



          
      </div>
    </div>
  </div>
  