<!-- home.component.html -->
<h2>This is Home</h2>

<div id="managemfa" class="w3-container w3-padding-large w3-grey tab" style="margin-right: 5px;">
    <!-- Show "Enable MFA" button if currentMFA is NOMFA -->
    <button *ngIf="currentMFA === 'NOMFA'" type="submit" class="w3-button w3-black w3-margin-bottom" (click)="enableMFA()">Enable MFA</button>
    
    <!-- Show "Disable MFA" button if currentMFA is SOFTWARE_TOKEN_MFA -->
    <button *ngIf="currentMFA === 'SOFTWARE_TOKEN_MFA'" type="submit" class="w3-button w3-black w3-margin-bottom" (click)="disableMFA()">Disable MFA</button>
    <qrcode *ngIf="totpUri" [qrdata]="totpUri" [allowEmptyString]="true"></qrcode>
    <img *ngIf="!totpUri" alt="no qr" width="128" height="128">
    <button type="submit" class="w3-button w3-black w3-margin-bottom" (click)="continueMFA()">Verify</button> 
</div>


<div class="card col-md-6 row justify-content-center mt-5" *ngIf="isConfirm">
    <div class="card-header">
      <h2 class="text-center">Enable TOTP</h2>
    </div>
    <div class="card-body">
      <div id="qrcode"></div>
      <form (ngSubmit)="confirmMFA()" class="form" >
        <div class="form-group">
          <label for="Code">Code:</label>
          <input type="text" id="code" name="code" class="form-control" [(ngModel)]="user.code" required />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Confirm</button>
      </form>
    </div>
</div>


